@model IEnumerable<Post>

<div>
    <a asp-action="New" class="btn btn-primary">post meme</a>
</div>

@foreach (Post post in Model) {
    <div class="card mt-2">
        <div class="card-body">
            @if (post.ImageName != null) {
            <div class="text-center">
                <img class="rounded" src="~/uploads/@Url.Content(post.ImageName)" />
            </div>
            }
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@post.Description</p>
        </div>
    </div>
}
