@model PostViewModel

<div>
    <div>
        <a asp-action="New" class="btn btn-primary">post img</a>
    </div>

    <nav page-model="@Model.PageModel" page-url-tag="@Model.CurrentTag" page-action="Index" ul-class="justify-content-center" class="mt-2"></nav>

    @*<li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>*@

    @foreach (Post post in Model.Posts) {
        @await Html.PartialAsync("PostCard", post)
    }

    <nav page-model="@Model.PageModel" page-url-tag="@Model.CurrentTag" page-action="Index" ul-class="justify-content-center" class="mt-2"></nav>
</div>
