@model IEnumerable<Post>

<div>
    <a asp-action="New">post meme</a>
</div>

@foreach (memes.Models.Post post in Model) {
    <h5>@post.Title</h5>
    @if (post.ImageName != null) {
<div class="text-center bg-light">
    <img src="~/uploads/@Url.Content(post.ImageName)" />
</div>

    }
    <p><i>@post.Description</i></p>
}