@model memes.Models.Post

<form asp-action="New" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="Title">title:</label>
        <input asp-for="Title" />
    </p>
    <p>
        <label asp-for="Description">description:</label>
        <input asp-for="Description" />
    </p>
    <p>
        <label asp-for="Image">image:</label>
        <input asp-for="Image" type="file" />
    </p>
    <button type="submit">post</button>
</form>