.post-image-container {
    overflow: hidden;
}

    .post-image-container > a > img {
        width: 100%;
        height: 100%;
        transition: transform .25s;
    }

    .post-image-container:hover > a > img {
        transform: scale(1.1);
    }
