.post-image-container:hover {
    cursor: pointer
}

.post-image-container {
    overflow: hidden;
}

    .post-image-container > img {
        width: 100%;
        height: 100%;
        transition: transform .25s;
    }

    .post-image-container:hover > img {
        transform: scale(1.1);
    }