<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/styles.css")" />
    <meta name="viewport" content="width=device-width" />
    <title>asdf-memes</title>
</head>
<body class="bg-light">
    <div class="container">
        @await Html.PartialAsync("TopNavbar")
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-sm-12">
                @RenderBody()
            </div>
            <div class="col-md-4 col-sm-12">
                @await Component.InvokeAsync("PopularTags")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Footer")
</body>
</html>