<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom border-right border-left box-shadow rounded-bottom">
    <div>
        <h2 class="mb-0">
            <a asp-controller="Posts" asp-action="Index" asp-route-tag="@null" asp-route-page="@null">asdf-memes</a>
        </h2>
        <small><i>site with <del>cats</del> images</i></small>
    </div>

    <nav class="my-2 my-md-0 mr-md-3">
        <a asp-action="New" class="p-2 text-dark">post img</a>
        <a class="p-2" href="#"><b>sign up</b></a>
    </nav>
</div>